<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Contact List</title>

</head>
<body>
<h1>Contact List</h1>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Phone</th>
        <th>Email</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="contact : ${contacts}">
        <td th:text="${contact.id}"></td>
        <td th:text="${contact.firstName}"></td>
        <td th:text="${contact.lastName}"></td>
        <td th:text="${contact.phone}"></td>
        <td th:text="${contact.email}"></td>
        <td>
            <a th:href="@{/contacts/edit/{id}(id=${contact.id})}">Edit</a>
            <a th:href="@{/contacts/delete/{id}(id=${contact.id})}">Delete</a>
        </td>
    </tr>
    </tbody>
</table>
<a href="/contacts/create">Create contact</a>
</body>
</html>